@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

*{
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 16;
    --example-submit-button: #474f9e;
    --example-delete-button: #a347db;
    --example-gray-background: #ebe9ea;
}

main {
    margin-left: 20px;
}

h2 {
    margin-bottom: 5px;
}

ul, li{
    list-style-type: none;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 5px 10px;
}

#letter-submit{
    margin-top: 20px;
}