@import "form.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

*{
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 16;
    --example-submit-button: #474f9e;
    --example-delete-button: #a347db;
    --example-gray-background: #ebe9ea;
}

main {
    margin-left: 20px;
}